/* universal selector */
* {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  /* Smooth Scroll */
  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  /* Custom Scrollbar  */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* Custom Scrollbar END */
  
  /* Styles for background */
  body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.048) 0%,
      rgba(255, 255, 255, 0.253) 100%
    );
    -webkit-backdrop-filter: saturate(3);
    backdrop-filter: saturate(3);
  }
  
  body {
    background-image: url("https://cdn.wallpaperhub.app/cloudcache/6/0/2/0/7/e/60207ec9f9ff647d72af3a90d01b5e790d8d6e71.jpg");
    background-size: 400% 400%;
    /* animation: gradient 15s ease infinite; */
    /*background-size: cover;*/
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    margin: 0;
    width: 100%;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /*default body{
    font-family: "Helvetica", sans-serif;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e52faaa1-fd93-428f-9534-6a43e1cc1de2/df8exe9-8adfe903-b36b-4629-9d28-04a576a8ca91.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2U1MmZhYWExLWZkOTMtNDI4Zi05NTM0LTZhNDNlMWNjMWRlMlwvZGY4ZXhlOS04YWRmZTkwMy1iMzZiLTQ2MjktOWQyOC0wNGE1NzZhOGNhOTEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PJmYE1G4BKxP4BmKC4tfY_F6g8BHbXu7X6mkec6h8Ek);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    margin: 0;
    width: 100%;
    height: 100vh;
  }
  
  @media screen and (max-width: 480px) {
    body {
      padding: 0.8em;
    }
  }*/
  
  main {
    /* bagroundbox styles */
    background-color: rgba(255, 255, 255, 0.089);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1250px;
    width: 100%;
    border-radius: 5px;
    /* bagroundbox blur styles */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);
    font-weight: 500;
    padding: 1rem 1rem 2rem 1rem;
    overflow: auto;
  }
  
  main::-webkit-scrollbar {
    display: none;
  }


/* 

*{
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    background-color: #2258d665;
}
body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.048) 0%,
      rgba(255, 255, 255, 0.253) 100%
    );
    -webkit-backdrop-filter: saturate(3);
    backdrop-filter: saturate(3);
  }
  
body{
    background-image: url("https://cdn.wallpaperhub.app/cloudcache/6/0/2/0/7/e/60207ec9f9ff647d72af3a90d01b5e790d8d6e71.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
  overflow: auto;
} */

.container {
    max-width: 98rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.nav-list {
    position: relative;
    display: flex;
    list-style: none;
}

.nav-item {
    min-width: 10rem;
    text-align: center;
    padding-block: 1rem;
}

.nav-link {
    text-transform: uppercase;
}

.active {
    position: absolute;
    bottom: -1rem;
    height: 2px;
    width: 10rem;
    background-color: #11c31d;
    transition: transform 0.25s;
}

.nav-item:nth-child(2):hover~.active {
    transform: translateX(10rem);
}

.nav-item:nth-child(3):hover~.active {
    transform: translateX(20rem);
}

.nav-item:nth-child(4):hover~.active {
    transform: translateX(30rem);
}

.nav-item:nth-child(5):hover~.active {
    transform: translateX(40rem);
}

