/* About Us Style */
.about-page {
  /* margin-top: 50px;
  margin-bottom: 80px;
  box-shadow: 0px 0px 20px rgb(220, 31, 31), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(186, 175, 175, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05); */
}
.about-page .right-content h4 {
  font-size: 17px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}
.about-page .left-image img {
  max-width: 100%;
}
.about-page .right-content span {
  display: inline-block;
  margin-left: 8px;
}
.about-page .right-content span a i {
  transition: all 0.5s;
  background-color: #aaa;
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  margin-right: 5px;
}
.about-page .right-content .share {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding: 15px 0px;
}
.about-page .right-content h6 {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 400;
}
.about-page .right-content span a:hover i {
  background-color: #3a8bcd;
}
.p{
  background:url("#");
  -webkit-background-clip: text;
}

