@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

	/* Force table to not be like tables anymore */
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	table {
		font-size: 15px;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}


	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}

/* modal--boxx */
.modal-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(96, 107, 99, 0.654);
}

.modal-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 50rem;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	border-style: dashed;
	background-color: #fff;
	
}
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
  }
  
  .pagination button {
	margin-right: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	padding: 5px 10px;
  }
  
  .pagination button.active {
	background-color: #333;
	color: #fff;
  }
  
  .pagination button:hover:not(.active) {
	background-color: #ddd;
  }
  